<div class="profile pl-5 pr-20 mt-2.5">
	<header class="flex justify-between items-center">
		<h3 class="font-bold">Dashboard</h3>
		<div class="flex text-xs gap-x-4 items-center">
			<p id="customize">
				Customize Dashboard
			</p>
			<span style="width: 1px;" class="h-3.5 bg-gray-300 my-auto"></span>
			<p>{{parsedDate}}</p>
		</div>
	</header>

	<section class="flex gap-x-5 justify-between mt-3">
		<div class="card card-1 relative">
			<h3 class="welcome uppercase">
				Welcome Back {{firstName}}
			</h3>
			<p>
				See overview of analytics and reporting metrics <br>
				and a lot more interesting
				stuffs you can do here.
			</p>
			<button>
				Take A Tour
			</button>
			<img
				class="absolute -bottom-8 -right-8" width="150" height="auto"
				src="assets/images/welcome-image.png" alt="welcome">
		</div>
		<div class="card card-2 relative">
			<h3 class="action uppercase">
				OPTIMIZED APPLICATION PROCESSING
			</h3>
			<p>
				We’ve optimized the system to process your <br>
				application as fast as possible. Click on the button <br>
				below to get started.
			</p>
			<button>
				New Request
			</button>
			<img
				class="absolute -bottom-8 -right-4" width="150" height="auto"
				src="assets/images/action-image.png" alt="welcome">
		</div>
	</section>

	<div class="mt-10">
		<ng-container *ngFor="let item of charts">
			<sbsc-chart></sbsc-chart>
		</ng-container>
	</div>
</div>
