<div class="top-bar flex justify-between items-center h-full pl-5 pr-20">
	<div>

	</div>
	<div class="flex items-center gap-x-4">
		<section id="notification">
			<div>
				<h3>Notifications Center</h3>
				<p class="font-extralight">You have <b class="font-bold">{{user.notification_count}}</b> unread notifications</p>
			</div>
			<p id="notif-num" class="my-auto">{{user.notification_count}}</p>
		</section>
		<section id="logout-action">
			<div>
				<h3>{{user.logged_user}}</h3>
				<p class="font-extralight">Vanity By Juls</p>
			</div>
			<div id="logout">
				<img width="15" height="15" class="mx-auto" src="assets/images/logout-icon.png" alt="logout-icon">
				<p>Logout</p>
			</div>
		</section>
	</div>
</div>