<div class="chart w-full bg-white">
	<div class="chart-header flex gap-x-5 justify-between">
		<div>
			<h3 class="text-xs font-bold">Annual Play Budget</h3>
			<p style="font-size: 10px">Summary</p>
		</div>
		<select name="year" id="year">
			<option value="this_year">This Year</option>
			<option value="last_year">Last Year</option>
			<option value="this_month">This Month</option>
		</select>
	</div>

	<div class="chart-donut">
		<canvas baseChart 
			[data]="doughnutChartData"
			[options]="options"
			[colors]="chartColors"
			[labels]="doughnutChartLabels"
			[chartType]="doughnutChartType">
		</canvas>
	</div>

	<div class="chart-data mt-5 space-y-3">
		<section class="flex justify-between">
			<div>
				<p class="text-xs font-light">Total Play (NGN)</p>
				<h3 class="text-sm font-black">{{50000000|number}}</h3>
			</div>
			<div>
				<div class="flex items-center">
					<div class="w-2 h-2 bg-blue-900 mr-3 rounded-full"></div>
					<p class="text-xs font-light">Total Spent</p>
				</div>
				<div class="flex items-center">
					<div class="w-2 h-2 bg-blue-300 mr-3 rounded-full"></div>
					<p class="text-xs">Balance</p>
				</div>
			</div>
		</section>

		<section class="flex justify-between">
			<div>
				<p class="text-xs font-light">Total Spent (NGN)</p>
				<h3 class="text-sm font-black">{{50000000|number}}</h3>
			</div>
			<div>
				<p class="text-xs font-light">Balance (NGN)</p>
				<h3 class="text-sm font-black">{{50000000|number}}</h3>
			</div>
		</section>

	</div>
</div>