.chart {
	// width: -webkit-fill-available;
	min-width: 300px;
	border-radius: 10px;
	padding: 20px 10px;

	@media (min-width: 1024px) {
		min-width: 350px;
	}
	@media (min-width: 1440px) {
		min-width: 340px;
	}
}

select {
	padding: 6px 10px;
	width: 95px;
	height: 30px;
	border-radius: 5px;
	@apply ring-0 border-0 text-xs;
	box-shadow: 0px 10px 20px rgba(184, 193, 209, 0.26);
}


.chart-data {
	border-radius: 10px;
}